<div class="row">


<div  >


        
  	<br/>  
 <p style="margin-left:20px;margin-right:20px;"> <b style="font-size:22px;"> Achievements:</b><br/>
In the end of the Enactus year an annual series of regional  and natiorthnal competitions provide a forum for the Enactus teams to present the results of their projects which are to be evaluated by Business leaders serving as judges.
The National champions advance to the prestigious Enactus World Cup. In addition to the Cup there are special grants offered by various firms as recognition to the team’s projects.</p>

<b style="margin-left:20px">Enactus Rec has procured quite a number of such notable achievements:</b>
</br>
<ul>
<li>Runners Up at SIFE India Nationals Competition 2009.</li> 
<li>Won the SIFE Regionals, held at Chennai on June 28th, 2012 qualifying for the Enactus Nationals on July 4`2th, 2012.</li> 
<li>Won the Wipro Earthian Award for Swach India, with an award from Azim Premji.</li> 
<li>Won the prestigious T.N Khushoo Award, along with a prize money of Rs.1,50,000/- </li>
<li>For Swach India and Ayurekha, Enactus REC was declared  regional winners as well as the winners of the Unilever Special Competition at the National level competition in Mumbai, 2012. </li>
<li>One of our alumni, R.J.Priya had the opportunity to be a part of the Enactus World Cup at Washingtom D.C. the same year, as the Unilever Ambassador. </li>
<li>Won Second Place in the Wal-Mart Women Empowerment Challenge in June,2013.</li> 
<li>Won third place in the Open League Rounds in Enactus India National Competition, held in June 2013.</li>
<li>Won fourth place in the Open League Rounds in Enactus India National Competition, held in June 2014.</li>
<li>Won grants offered by Unilever and Mahindra for the projects of the year 2014.</li></p></ul>
</div>

  	  
<div  class="col-md-3">
  

</div>

</div>