<div class="content">
				<div class="grid" >
				<div class="row">
				<div class="col-sm-4">
					<figure class="effect-lily" >
						<img src="" alt="img12"/>
						<figcaption>
							<div>
								<h2>VARUNESH <span>WARAN</span></h2>
								
							</div>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					</div>
					<div class="col-sm-4">
					<figure class="effect-lily">
						<img src="images/DSC01400.JPG" alt="img1"/>
						<figcaption>
							<div>
								<h2>YESHVANTH <span>SURESH</span></h2>
								<p>Web Developer|Enactus REC</p>
							</div>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					</div>
					<div class="col-sm-4">
					<figure class="effect-lily" >
						<img src="images/bg2.png" alt="img12"/>
						<figcaption>
							<div>
								<h2>PADMA <span>PRIYA</span></h2>
								<p>Lily likes to play with crayons and pencils</p>
							</div>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					</div>
					</div>
					<figure class="effect-lily">
						<img src="images/bg4.jpg" alt="img1"/>
						<figcaption>
							<div>
								<h2>POORVIKA<span>RAJ</span></h2>
								<p>Web Developer|Enactus REC</p>
							</div>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
				</div>
				
			</div>
			
		